.env
.vscode/launch.json
__pycache__/login.cpython-38.pyc
__pycache__/follow.cpython-38.pyc
__pycache__/mainMenu.cpython-38.pyc
__pycache__/search.cpython-38.pyc
__pycache__/collection.cpython-38.pyc
recommendation.py
__pycache__/collection.cpython-39.pyc
__pycache__/follow.cpython-39.pyc
__pycache__/login.cpython-39.pyc
__pycache__/mainMenu.cpython-39.pyc
__pycache__/recommendation.cpython-39.pyc
__pycache__/search.cpython-39.pyc
